<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>common_mistakes</title>
    <base href="/">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="all.min.css"/>
    <link rel="stylesheet" href="scrollbar.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />


</head>
<body>

<div class="container">
    <div class="infoboard-frame">
        <div class="menu" >
            <div class="menu-items">

                <a th:href="@{/index}">
                    <div>Назад</div>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/logout}">
                    <div>Изход</div>
                </a>
            </div>
        </div>
        <div class="infoboard">

            <div class="display-info">


                <h1>Често допускани грешки от начинаещи лозари</h1>

                <div>&nbsp;</div>


                <div>
                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                         th:src="@{/images/Image_7282300_811_0.jpg}"/>

                    <h5>
                        При резитба и формировка
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        По-смелата резитба дава повече плод, а и всички по-стари части, които носят зарази, са елиминирани.
                    </p>

                    <p>
                        Всички, и професионалисти, и любители лозари трябва да не забравят, че по своята природа лозата е практически лиана.
                        Това означава, че има много бърз растеж и буквално в един сезон може да оплете всичко, което й е наблизо.
                        Вегетативната й маса по своеобразен начин се "отпечатва" върху броя и размера на плодовете.
                        Какви грешки допускат лозарите - новаци, когато предприемат резитба и формировка на своята лоза?
                        И кои правила не бива да забравят. Да знаят,че дългата лоза трудно се снабдява с хранителни вещества а плодовете й стават по-малки по размер и с по-малка захарност.
                        Аритметиката е проста - колкото по-голям е храстът, толкова по-малки ще бъдат гроздовете!

                    </p>

                    <p>
                        Ето защо е обичайно да се намалява вегетативната маса и стопаните не трябва да се страхуват да го правят, ако искат да получат висококачествено грозде. Да се знае още, че понякога е оправдано до 90% от пръчките да се отстраняват като това зависи от сорта, както и от формировката. Така през настоящата година добивите ще пораснат.
                        Начинаещите да не се притесняват, че раните, нанесени с резитбата ще отнемат много от силите му и ще повишат податливостта към болести и неприятели.
                        При по-чувствителна резитба има още един плюс: лозата ще бъде по-дебела и укрепнала в основата си и ще е по-издръжлива на студовете, отколкото от тази с тънка главина.
                    </p>

                    <p>
                        Това подобрява и фотосинтезата, и храненето, тъй като почти всички листа ще получат много повече светлина и няма да засенчват съседните.
                        Количеството хлорофил в този случай става няколко пъти по-голямо което се отразява на растежа, развитието и добива, както и на кореновата система.
                        Такава резитба улеснява последващите зелени операции, пръскане и други операции.
                        За сведение на новаците след зимата не само нови, но и стари части на лозата често умират или гният. Да не ви е жал - те рябва да бъдат отстранени.

                    </p>

                    <p>
                        За новака е трудно да възприеме, че всяка година от 60 до 95% от общото "наддаване" на лозата се премахва. За него тези мерки са брутални, изглеждат неподходящи, затова той се ограничава само до премахването на върховете на леторастите и сухите части.
                        Той трябва да знае, че и природата си върши работата, като дава възможност на храстите да растат, прави ги гъсти и небрежни, те засенчват по-младите и така пречат на плододаването.
                    </p>

                    <p>
                        Тогава, след известно време, плодовете стават много по-малки, след което техният брой значително намалява. А издържливостта за студовете през зимата пада драстично.
                        Трябва още да се знае, че гроздето се ражда на едногодишните леторасти така че, ако оставите твърде много от старите многогодишни, дори и при перфектна грижа за тях няма да получите желания резултат.
                    </p>

                </div>

                <div>&nbsp;</div>

                <div>
                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                         th:src="@{/images/Image_7282301_811_0.jpg}"/>

                    <h5>
                        Други пропуски при много любители
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Като говорим за резитба, която може да има по-агресивен характер, трябва да добавим мнението на специалистите, че оголването на кордоните не е препоръчително
                        Но и то се получава, когато любителите решат да оставят за всеки случай дълги продължители при създаването на самите кордони.
                        Да знаете какво се получава:
                        Когато се остави дълга пръчка, тогава се развиват предимно пъпките към върха й, а тези в средната част много често не могат да покарат.
                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Как да постъпим?
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        За да се избегне подобно оголване, пръчката, която е предназначена за продължител на кордона трябва да бъде по-къса и да има около 6-8 очи.
                        Много кордони не бива да се допускат на една асма - понякога техният брой е прекалено голям, което вреди на лозницата.
                    </p>

                    <p>
                        Много от любителите трудно възприемат резитбата с къси плодни пръчки и смятат, че като е къса няма да им даде достатъчно плодни звена и съответно гроздове.
                        Не са прави и така правят мрежа от кордони, която засенчва и пречи и на резитба, и на пръскане.
                    </p>

                </div>

                <div>&nbsp;</div>

                <div>
                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-left: 15px;
                            float: right;"
                         th:src="@{/images/Image_7282298_811_0.jpg}"/>

                    <h5>
                        Не всяка “фризура” подхожда на лозата
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Двоен Гюйо се препоръчва за плодородни почви и силни лози
                        Известно е, че не всички популярни формировки са еднакво подходящи за всички сортове, които отглеждаме или искаме да отглеждаме.
                        Едни от най-използваните формировки у нас са едностранен и двустранен Гюйо.
                        Но и при тях има избор - могат да бъдат и на високо, и на ниско стъбло.
                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Как се реже?
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        При двустранния Гюйо на един храст се формират две къси рамена.
                        Двоен Гюйо се препоръчва за подходящи сортове при плодородни почви и при силни лози.

                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Внимание!
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Когато започвате да режете, да знаете, че при тази формировка се оставят две плодни пръчки и два чепа с по две очи.
                        Трябва да се поддържат оптимални рамена в лозовия кордон.
                        Образуването и поддържането на рамената в кордона не е много сложна, но все пак е специализирана операция, която трябва да се научи.
                        След това тя изисква последователност.
                    </p>

                    <p>
                        Дългата лоза трудно се снабдява с хранителни вещества
                    </p>

                </div>

                <div>&nbsp;</div>
                <div>&nbsp;</div>

                <div>
                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                         th:src="@{/images/Image_7282299_811_0.jpg}"/>

                    <p>
                        Старите пръчки трябва да се премахват ежегодно, а не да се проявява стремеж да се създават нови плодни звена по тях за повече плод
                    </p>


                </div>

            </div>
        </div>
    </div>

</div>

</body>

</html>