<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminology</title>
    <base href="/">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="all.min.css"/>
    <link rel="stylesheet" href="scrollbar.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />


</head>
<body>

<div class="container">
    <div class="infoboard-frame">
        <div class="menu">
            <div class="menu-items">

                <a th:href="@{/index}">
                    <div>Назад</div>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/logout}">
                    <div>Изход</div>
                </a>
            </div>
        </div>
        <div class="infoboard">

            <div class="display-info">

                <h1>Популярни болести по лозята</h1>

                <div>&nbsp;</div>

                <div>

                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                         th:src="@{/images/Nepovirus.jpg}"/>

                    <h5>
                        Арабисова мозайка
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Вирусът на арабисова мозайка (Arabis mosaic virus) е растителен патогенен вирус от семейство Comoviridae. Разпространен е предимно в Европа, където се заразяват лозата и много други растения.
                    </p>

                    <p>
                        Вирусът принадлежи към неповирусите. Вирионите са изометрични с диаметър 30 nm. Пренася се чрез нематодите Xiphinema coli и X. diversicaudatum. Най-добри индикатори за диагностика са Chenopodium amaranticolor и C. quinoa, при които вирусът предизвиква образуването на локални, хлоротични и некротични петна.
                    </p>

                    <p>
                        Антисерумите за вируса на арабисовата мозайка реагират хетероложно с вируса на късовъзлието и обратно – антисерумите за този вирус показват по-слаба серологична връзка с някои щамове на вируса на арабисовата мозайка.
                    </p>

                </div>

                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>

                <div>

                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-left: 15px;
                            float: right;"
                         th:src="@{/images/Agrobacteriumgall.jpg}"/>

                    <h5>
                        Бактериен Рак
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Бактериален рак (Agrobacterium radiobacter pv. tumefaciens) е силно вредоносна болест по растенията, особено във вкоренилищата и младите лозови насаждения.
                    </p>

                    <p>
                        Бактериите са къси, прави, заоблени, подвижни пръчици с размери 0,4-0,8 на 1-3 мм. Грам отрицателни, неспорообразуващи. Образуват кръгли изпъкнали, гладки колонии. Факултативен анаероб, развиващ се при оптимална температура 25-30 С°. Инактивира се при 53С° за 10 минути. Оптимално Ph за развитие 4,4–8. Бактерията е хетерогенна. Разпада се на щамове, отнасящи се към четири групи.
                    </p>

                    <p>
                        Патогенът се разпространява чрез посадъчния материал, при присаждане, чрез почвата и режещите инструменти. Той прониква през рани и се запазва в заразените растения. Заразата се реализира при започване на сокодвижението на лозата. Благоприятни условия за развитието на патогена са хладното и влажно време през пролетта, особено след закъснели резитби, измръзвания и градушки. Бактериите причиняват трансформация на нормалните клетки в туморни образувания. Това се дължи на Ti-плазмида, известен като Т-ДНК. Той се пренася и инкорпорира в клетките на гостоприемника и нарушава нормалната им функция. Отделят се големи количества индолинова киселина, цитокинин подобни вещества и ензими причиняващи хипертрофия и хиперплазия на клетки.
                    </p>

                    <div>&nbsp;</div>

                    <h5>Борба</h5>

                    <p>
                        - Използване на здрав посадъчен материал;
                    </br>
                        - Спазване на 6-7 годишно сеитбообращение във вкоренилището;
                    </br>
                        - Изкореняване на болните растения и дезинфекция на мястото
                    </br>
                        - Киснене на подложките в 5% хинозол за 12 часа, а за калемите 2-3 часа.
                    </br>
                        - Използване на бактериофаги.
                    </p>

                </div>

                <div>&nbsp;</div>

                <div>

                    <h5>
                        Български латентен вирус
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Лозов латентен български вирус (на английски: Grapevine Bulgarian latent virus) e патогенен вирус по растенията, от семейство Secoviridae. В България болестта е установена при сортовете Болгар, Каберне Совиньон, Кардинал, Перл дьо Ксаба, Ркацители и Широка мелнишка лоза в районите на Ахтопол, Петрич, Плевен, Пловдив и Поморие.
                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Симптоматика
                    </h5>


                    <p>
                        Заразените лози са със слаб растеж. Листата се развиват бавно, жълтеят и се завиват. Наблюдава се слабо развитие и скъсяване на леторастите. Реси почти не се образуват. Симптомите се проявяват през пролетта. При по-късно заразените лози симптомите са скрити през летния период. При различни сортове лози се наблюдава различно проявление на болестните признаци.
                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Инфекциозен агент
                    </h5>


                    <p>
                        Вирусът спада към групата на неповирусите. Вирионите са изометрични с диаметър 30 nm. За диагностични цели се използват плевелните видове Chenopodium globosa, C. quinoa и Nicotiana clevelandii. В САЩ от лоза е изолиран щам на вирус, близък на лозовия латентен вирус (Uyemoto, 1978).
                    </p>

                    <p>
                        Допуска се, че лозовият български латентен вирус се пренася чрез нематоди от род Longidorus.
                    </p>

                </div>

                <div>&nbsp;</div>

                <div>

                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                         th:src="@{/images/mana.jpg}"/>

                    <h5>
                        Мана
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Мана̀ е заболяване по растенията, основно по лозята и тютюна, причинено от паразитни гъби от сем. Peronosporaceae и Pythiacea.[1] Пренесено от Америка в Европа в края на XIX век с подложки устойчиви спрямо филоксера. От икономическа гледна точка, това е най-сериозната болест по тези растения в България.
                    </p>


                    <h5>Описание</h5>

                    <p>
                        Патогенът зимува като ооспори (трайни спори) по опадалите листа. Хифите му се развиват в междуклетъчното пространство, от което чрез хаустори черпи хранителни вещества. Ооспорите извършват първичните заразявания напролет. За да покълнат им е необходимо въздействието на ниски температури. Условията за поникване са температура от 11 до 30 °C, влажност на почвата над 70% от ППВ и превалявания в продължение на 2 – 3 дни. Масовото разпространение на заболяването се извършва чрез зооспори.
                    </p>

                    <p>
                        Растенията са най-чувствителни през периода на формиране на ресите до наедряване на зърната до големина на грахово зърно. Честите превалявания, росите и мъгливото време, ниските температури, гъстите насаждения, голямото заплевеляване, едностранчивото азотно торене и др. спомагат за силно развитие на мана.
                    </p>
                </div>

                <div>&nbsp;</div>

                <div>

                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-left: 15px;
                            float: right;"
                         th:src="@{/images/blackspot.jpg}"/>

                    <h5>
                        Чернилка
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        При обелване на кората при едно и многогодишни дървета се наблюдават светлокафяви а по късно жълтокафяви до черни петна с елипсовидна форма. По листата се наблюдават дребни,воднисти закръглени до ъговати петна,зърната се спаружват и изсъхват.

                    </p>

                    <h5>
                        Причинител: Erwinia vitivora
                    </h5>

                    <p>
                        Пръчковидна, грам отрицателна бактерия. Прониква чрез рани и чрез хидатодите на листата, развива са в проводящата система. Разпространява се чрез калеми и лозов посадъчен материал.
                    </p>

                    <div>&nbsp;</div>

                    <h5>Борба:</h5>

                    <p>
                        води се в маточниците преди облагородяването и след изваждането на лозите от вкоренилището.
                    </p>

                    <p>
                        - Производство на здрав посадъчен материал.
                    </br>
                        - Преди облагородяването подложковите резници се потапят за 10-12часа, а калемите за 2-3часа в хинозол-0,5%
                    </br>
                        - след изваждане вкоренените лозички се третират за 2-3минути в хинозол.
                    </br>
                        - лозичките се съхраняват в специално хранилище където се подържат
                        определени условия: влага на пясъка-10% от сухото тегло, температура 2-6С, влажност на въздуха 65-70%.
                    </br>
                        - накисване преди присаждането в разтвор на Танин0,2%, калемите за 24часа а подложковия материал за 3 денонощия
                    </br>
                        - Третиране на вкоренените лозички след изваждането им с танин 0,2%
                    </br>
                        - Дезенфекциране на режещите инструменти
                    </p>

                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>