<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminology</title>
    <base href="/">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="all.min.css"/>
    <link rel="stylesheet" href="scrollbar.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />


</head>
<body>

<div class="container">
    <div class="infoboard-frame">
        <div class="menu">
            <div class="menu-items">

                <a th:href="@{/index}">
                    <div>Назад</div>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/logout}">
                    <div>Изход</div>
                </a>
            </div>
        </div>
        <div class="infoboard">

            <div class="display-info">

                <h1>Популярни вредители по лозята</h1>

                <div>&nbsp;</div>

                <div>
                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-left: 15px;
                            float: right;"
                         th:src="@{/images/n007.jpg}"/>

                    <h5>
                        Гроздов молец (Lobesia botrana)
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Листозавивачките включват и една специфична група вредни насекоми, известни като гроздов молец. Гроздовите молци имат съществено значение за лозовата култура и в миналото нападението е било толкова голямо, че в редица случаи въобще не се е стигало до гроздобер. Вредата се предизвиква от гъсеничките, които се хранят с пъпките и ресите, като ги надупчват и оплитат в паяжина, и с наедрялото грозде, което е нагризано външно. Повредите са големи през целия период на вредна дейност, но особено в края на вегетационния сезон, тъй като през тях прониква причинителят на сивото гниене и продукцията става негодна както за директна консумация, така и за приготовляване на вино.
                    </p>

                    <p>
                        Като вредители по овощните дървета, лозата и ягодоплодните растения са установени голям брой видове – розена листозавивачка, ягодоплодна листозавивачка, глогова листозавивачка, кафявопетниста листозавивачка, червена пъпкозавивачка, сива пъпкозавивачка, лозова листозавивачка и други, а от гроздовите молци шарен гроздов молец и еднопоясен гроздов молец.
                    </p>

                </div>

                <div>&nbsp;</div>

                <div>
                    <h5>
                        Шарен гроздов молец (Lobesia botrana Schiff.)
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Възрастното насекомо достига на големина 10-12 см. Предните крила са тъмносини, с три напречни ивици отгоре и значителен брой тъмносини, черни и синкави петна. Задните крила са сиви, с дълги ресници. Младата гъсеница е белезникава, а възрастната има мръснозелен цвят. Главата и гръдният щит са тъмнокафяви. Шареният гроздов молец има три поколения годишно и зимува като какавида под старата напукана кора на стъблата и главините или в основата на чеповете, по пукнатините на коловете и рядко в сухите листа или на други места.
                    </p>
                </div>


                <div>&nbsp;</div>

                <div>
                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                         th:src="@{/images/9946.jpg}"/>

                    <h5>
                        Еднопоясен гроздов молец (Glysia ambiguella Hb.)
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Възрастното насекомо е дребна пеперудка, която достига до 10-14 см. Предните крила са охреножълти с по едно едро триъгълно тъмно петно. При спокойно състояние на крилата тези петна се сливат, като оформят ивица, откъдето неприятелят носи името си. Гъсеницата е сиво-зелена до ръждивочервено оцветена. Главата и гръдният щит са черно-кафяви, блестящи. Еднопоясният гроздов молец развива две поколения годишно, а при благоприятни метеорологични условия и частично трето. Зимува като какавида в плътен паяжинен пашкул, най-често под кората на миналогодишните чепове, в основата на плодните пръчки и в  амбалажа.
                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Контрол
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Борбата срещу гроздовите молци се извършва чрез широкоспектърни химични препарати, като химичните третирания са насочени основно срещу гъсениците от първото поколение. Най-често се провеждат две пръскания срещу първото и евентуално едно пръскане срещу второто поколение. Срещу третото поколение не се налагат третирания, ако борбата срещу първото и второто е проведена успешно. Химични пръскания се провежат при плътност на неприятеля 6-8 броя гъсеници/100 реси, 11-12 броя/100 ягориди и 10-12 броя /100 грозда. За прогнозиране появата на неприятеля могат да се използват полови (феромонови) уловки или ферментиращи течности. Прилагат се същите препарати, както и при останалите листозавивачки.
                    </p>
                </div>

                <div>&nbsp;</div>

                <div>

                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-left: 15px;
                            float: right;"
                         th:src="@{/images/9808.jpg}"/>


                    <h5>
                        Жълт лозов акар (Schizotetranychus viticola)
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Жълт лозов акар (Schizotetranychus viticola Reck.) Възрастният акар е дълъг от 0,29 до 0,38 мм. През вегетационния период оцветяването е жълто-зелено, а през зимния – охреножълто до седефеножълто. Яйцето е светло, блестящо. По-ранните стадии от развитието са по-светло оцветени от възрастните акари. Развива 6-8 поколения годишно. Зимуват възрастните женски индивиди под старата и напукана кора на лозовите растения.
                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Контрол
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Необходимо е стриктно спазване на общите фитосанитарни мерки, включващи дълбока почвена обработка и унищожаване на растителните остатъци, както и поддържане, при възможност, на по-висока почвена и въздушна влажност. Химични пръскания срещу акари се провеждат през периода на покой при плътност 60-80 броя зимуващи яйца на клонка с дължина 10 см с препаратите масло РЗ-3%, акарзин-3% и паразомер-2-3%, които действат на принципа на задушаването (асфикцията). През вегетационния сезон срещу активните форми се прилагат специфични акарициди.
                    </p>

                </div>

                <div>&nbsp;</div>

                <div>

                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                         th:src="@{/images/9908.jpg}"/>

                    <h5>
                        Западен полски ковач (Agriotes ustulatus Schall.)
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Западен полски ковач (Agriotes ustulatus Schall.). Възрастното насекомо има жълто-кафяво до тъмно оцветено тяло с дължина 8-12 мм . Има тригодишно развитие, което протича в рамките на четири календарни години.  Зимува като ларва от различни възрасти.
                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Контрол
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Борбата с полските ковачи се провежда трудно поради скрития им начин на живот. Тя включва система от мероприятия, към които се отнасят обследвания за определяне плътността на неприятеля чрез почвени разкопки или чрез триъгълни житни примамки; редовна междуредова обработка на почвата или използване на хербициди за унищожаване на плевелите и особено на пирея; включване като подкултура на растения, които по-слабо се нападат от телени червеи (грах, просо); засяване и засаждане на подходяща дълбочина и в съкратени срокове; балансирано органично и минерално торене; варуване на киселите почви и третиране на семената в семенилищата със инсектициди.
                    </p>

                </div>

                <div>&nbsp;</div>

                <div>

                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-left: 15px;
                            float: right;"
                         th:src="@{/images/9002.jpg}"/>

                    <h5>
                        Зимна нощенка, зимен сив червей (Agrotis segetum)
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Зимна нощенка, зимен сив червей (Agrotis segetum Schiff.)  Пеперудата има светлосиви, жълто-сиви до почти черни предни крила с характерни бъбрековидно, кръгло и клиновидно петна, които са заобиколени с тънък черен кант. Задните крила са белезникаво-сиви, по-тъмни от външния край. Възрастните гъсеници са землисто сиви, по гърба и отстрани на тялото с надлъжни тъмни ивици. Има две поколения годишно и зимува като възрастна гъсеница в почвата на дълбочина 10-25 см в зависимост от типа й.
                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Контрол
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Необходима е система от мероприятия, включващи: дълбока основна оран и редовни вегетационни обработки за унищожаване на гъсениците и какавидите, намиращи се в почвата; възможно най-ранна сеитба или разсаждане за добро вкореняване и развитие на механичните тъкани на растенията, така че по-лесно да се преодолеят нанесените повреди; контрол върху плевелната растителност, където се хранят възрастните индивиди, снасят се яйцата и се изхранват младите ларви, преди да преминат върху културните растения. Различните видове уловки – UV лампи и хранителни уловки от ферментиращи течности се използват както за идентифициране на неприятеля, така и за директна борба. Химичните средства не дават добри резултати поради подземния начин на живот на тази група нощенки.
                    </p>

                </div>

                <div>&nbsp;</div>

                <div>

                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                         th:src="@{/images/9928.jpg}"/>

                    <h5>
                        Турски лозов хоботник (Otiorrhynchus turca)
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Турски лозов хоботник (Otiorrhynchus turca Bohem.) Дължината на възрастния бръмбар достига до 12 mm. Елитрите са изпъкнали и покрити с блестящи люспици. Ларвата е бледожълта, с кафява глава, без крака, покрита с редки власинки, на дължина достига 9-12 mm. Има двегодишно развитие. Зимува две години като бръмбар или като ларва в почвата.
                    </p>

                    <div>&nbsp;</div>

                    <h5>
                        Контрол
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Специфични мерки за контрол спрямо хоботниците обикновено не се предприемат поради сравнително ниската им степен на вредоносност. Ако е необходимо, химични мерки за контрол се предприемат при стръскване на 5-6 възрастни индивида от 10 клонки на дърво. Широкоспектърните инсектициди,  които се използват срещу други вредители, проявяват добър ефект и по отношение на хоботните бръмбари.
                    </p>

                </div>

                <div>&nbsp;</div>

                <div>

                    <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                         th:src="@{/images/9915.jpg}"/>

                    <h5>
                        Лозов стригач (Lethrus apterus)
                    </h5>

                    <div>&nbsp;</div>

                    <p>
                        Лозов стригач (Lethrus apterus Laxm.) Възрастното насекомо е едър бръмбар, достигащ на дължина до 18-22 мм, със смолисточерен цвят. Половината от дължината на тялото се заема от главата и гърдите, а другата половина от коремчето.  Горните челюсти са силно развити. Вторият чифт крила липсва и бръмбарът не може да лети. Лозовият стригач има едно поколение годишно и зимува като възрастно насекомо дълбоко в почвата.
                    </p>

                    <div>&nbsp;</div>

                    <h5>Контрол</h5>

                    <div>&nbsp;</div>

                    <p>
                        Борбата с тези бръмбари е много трудна поради подземния начин на живот на ларвите и поради това, че летежът на възрастните преминава по време на цъфтежа, когато е невъзможно използването на ефективни инсектициди поради необходимостта да се опазят опрашителите. Установено е и значително ниво на устойчивост към преобладаващата част от използваните инсектициди.
                    </p>

                    <p>
                        Борбата е насочена срещу възрастните индивиди, като се използват селективни за полезните видове и опрашителите инсектициди, с кратък карантинен срок, а третиранията се извършват късно привечер.
                    </p>

                </div>



            </div>
        </div>
    </div>
</div>

</body>
</html>