<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminology</title>
    <base href="/">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="all.min.css"/>
    <link rel="stylesheet" href="scrollbar.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />


</head>
<body>

<div class="container">
<div class="infoboard-frame">
    <div class="menu">
        <div class="menu-items">

            <a th:href="@{/index}">
                <div>Назад</div>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/logout}">
                <div>Изход</div>
            </a>
        </div>
    </div>
    <div class="infoboard">

        <div class="display-info">

            <h1>Някои термини и понятия</h1>


            <p>
                <b>Анабиоза</b> (възраждане) е феноменът на адаптиране на живите организми, включително растенията, към преживяването на неблагоприятни условия на околната среда.
            </p>
            <p>
                <b>Асимилацията</b> е процесът на образуване на пластични вещества (асимиланти) в листата, които отиват към структурата на растителните органи.
            </p>
            <p>
                <b>Асимилацията</b> е процесът на образуване на пластични вещества (асимиланти) в листата, които отиват към структурата на растителните органи.
            </p>
            <p>
                <b>Проветряване</b>  на почвата - въздушен обмен, осигурен чрез периодично разхлабване на почвата и нейното структурно състояние.
            </p>
            <p>
                <b>Агробиологията</b> е наука, която изучава растението и условията му на живот (в единство, тяхната близка връзка).
            </p>
            <p>
                <b>Акарицидите</b> са химикали (лекарства), използвани за унищожаване на кърлежи.</p>
            <p>
                <b>Биологична нула</b> - отчитането на външен термометър при около +10 градуса, при което не се наблюдава растеж на растения, включително грозде.
            </p>
            <p>
                <b>Вегетационният</b> период е времето от началото на потока на сока до падането на листата. Началото на вегетационния сезон се извършва при среднодневна температура над "биологична нула" (над +10 градуса).
            </p>
            <p>
                <b>Вегетативната хибридизация</b> е отглеждане на подобрени съществуващи сортове (чрез селекция).
            </p>
            <p>
                <b>Вегетацията</b> е състояние на активен живот на растителните организми, през което се извършва растеж и развитие.
            </p>
            <p>
                <b>Вегетативни органи (растения) </b> - корени, листа, издънки, стъбла, клубени, тръни, жила.
            </p>
            <p>
                <b>Генеративните органи</b> са органите за полово размножаване на растенията. На гроздово растение - съцветия, цветя, горски плодове, гроздове и семена.
            </p>
            <p>
                <b>Генетиката</b> е клон на биологията, който изучава наследствеността и променливостта на организмите.
            </p>
            <p>
                <b>Хумати (от лат. Humus - земя, почва)</b> - соли на хуминови киселини. Хуматите са най -важният компонент на хумуса.
            </p>
            <p>
                <b>Хумусът</b> (почвен хумус) е комплекс от различни почвени съединения, образувани в резултат на биологични и биохимични трансформации на останките от мъртви растителни и животински организми, тяхното разлагане и синтеза на много сложни вещества.
            </p>
            <p>
               <b> Хибрид</b> (от лат. Hybrid - кръстоска между) - организъм, възникнал в резултат на хибридизация на растения или животни; в растениевъдството се разграничават половите и вегетативните хибриди.
            </p>
            <p>
                <b>Гума</b> (от гръцки. Kommi - дъвка), гуми - органични вещества, отделяни от някои дървесни растения на местата на рани и измръзвания - под формата на прозрачна втвърдяваща се лепкава маса. На гроздово растение той се откроява със сода.
            </p>
            <p>
                <b>Хетерозата</b> (промяна, трансформация) е явление с хибридна сила, тоест повишена мощност на растеж и производителност на хибриди - растения и животни от първо поколение.
            </p>
            <p>
                <b>Dal</b> е ново обозначение за декалитър (dkl), общоприето в литературата.
            </p>
            <p>
                <b>Диафрагма</b> - при растения, включително грозде - преграда в центъра на удебеляването на издънката.
            </p>
            <p>
                <b>Възходящи течения</b> (в растение) - движението на водата от корените към листата с разтворени в нея хранителни вещества; възниква поради коренното налягане и сцеплението към листата от транспирация (изпаряване).
            </p>
            <p>
                <b>Зимна издръжливост</b> е способността на растенията да издържат на неблагоприятни зимни условия (размразяване, връщане на студове). Зимоустойчивостта на растенията зависи и от външните условия по време на подготовката им за зимата (узряване, втвърдяване).
            </p>
            <p>
                <b>Устойчивост на замръзване</b> - способността на растенията да понасят температури под 0 ° C без вреда.
            </p>
            <p>
                <b>Студоустойчивост на растенията</b> - способността на растенията да издържат на температури от +10 до + 1 ° C без вреда.
            </p>
            <p>
                <b>Изолация (слънчева радиация)</b> - слънчева светлина. Под въздействието на слънчевата енергия се променя химическият състав на растенията и плодовете им.
            </p>
            <p>
                <b>Интегралната растителна защита</b> е ново направление в борбата с вредителите и болестите по културите, методи: изборът на селективни препарати, прилагането им в точното време за запазване на полезните насекоми. Редуване на различни техники за отглеждане. Въвеждане и аклиматизация на нови полезни насекоми или тяхното специално отглеждане; използването на химостеранти, които инхибират възпроизвеждането на вредни насекоми, създаването на устойчиви сортове.
            </p>
            <p>
                <b>Калусът </b> е приток на растителна тъкан, която се образува на повърхността на раните в резултат на разделянето на близките живи клетки. Осигурява сливане на присадени компоненти.
            </p>
            <p>
                <b>Въвеждане на грозде (въвеждане)</b> - внос от чужбина с цел аклиматизация на определени сортове и тяхното проучване.
            </p>
            <p>
                <b>Камбият</b> е постоянна образователна тъкан в стъблата на растенията, поради което присаждащите компоненти растат заедно.
            </p>
            <p>
                <b>Kilchevanie</b> е технологична техника, която насърчава образуването на корени върху долния разрез на резниците преди разпадането на пъпките. Той се състои в едновременното въздействие на висока температура и влажност върху долните и ниските температури върху горния край на рязането.
            </p>
            <p>
                <b>Разсад със собствени корени</b> - разсад, получен чрез вкореняване на резници от сорта, без присаждане върху подложката.
            </p>
            <p>
                <b>Катавлак </b> - полагане на храст в дупка за обновяване на надземната част и увеличаване на добива, запазване на жизнената активност и плодородието.
            </p>
            <p>
                <b>Клон (от гръцки. "Клон")</b> - потомство, получено чрез вегетативно размножаване, състоящо се от наследствено идентични растения. По време на вегетативно размножаване в гроздето може да се наблюдава вегетативна променливост, т. Нар. Бъбречни мутации, спори. Тези промени се фиксират в потомството по време на вегетативно размножаване.
            </p>
            <p>
                <b>Клонна селекция</b> - селекция, изучаване и по -нататъшно размножаване на отделни растения в рамките на сорт, които се отличават с ценни свойства. Тези свойства могат да възникнат под въздействието на околната среда и в резултат на промени в наследствеността.
            </p>
            <p>
                <b>Колхицинът</b> (алкалоид) е мощен ад на растенията. Извлича се от семената и луковиците на есенния минзухар и други растения от семейство Лилии. Има способността да спира клетъчното делене на растителни и животински организми.
            </p>
            <p>
                <b>Нисходящи течения </b> - движението на органични вещества от листата надолу, произведени от тях в резултат на фотосинтеза.
            </p>
            <p>
                <b>Остатъчно количество химикали</b> - малка доза токсични вещества, останали в растението или тялото на топлокръвни животни. Някои от тях, като хексахлоран (съхраняван в почвата до 8-10 години), могат да се натрупват в тялото от година на година, като по този начин увеличават животозастрашаващата доза. Хексахлоран вече не се продава. Очите на пасинка са очите на основната издънка, от която се развиват пасинки през вегетационния период.
            </p>
            <p>
                <b>Подложка</b> - растение или част от него, върху което се присажда част от друго растение (издънка). Долната част на присаденото растение.
            </p>
            <p>
                <b>Присадката</b> е част от вегетативна издънка или едногодишна увиснала лоза с едно или две очи, прикрепена към друго растение (запас) за сливане в един организъм.
            </p>
            <p>
                <b>Пермил (от латински "около миля" - на хиляда)</b> - една хилядна част, обозначена със знака% o. Количеството винена киселина в литър сок се изразява в грамове (например 8% o или 8 g / l).
            </p>
            <p>
                <b>Партенокарп (от гръцки. "Parthenos" - девствен, "karpos" - плод)</b> - развитието на плодове без торене, а следователно и без семена. Случаи, когато прашец не попада върху стигмата или прашецът е стерилен. Такива плодове са малки, кръгли, образуването им обикновено се нарича грах.
            </p>
            <p>
                <b>Плодникът</b> е овощар, един от най-важните органи на цвете, разделен (на грозде и др.) На яйчник, колона и стигма, заобиколен от тичинки с прашници. Вътре в яйчника има една или повече яйцеклетки, от които след оплождането се развиват семена и плодникът се превръща в плод.
            </p>
            <p>
                <b>Вътресистемни лекарства</b> - така се наричат инсектициди, които, прониквайки в растителните тъкани, образуват заедно със соковете си отровни вещества, които убиват вредителя.
            </p>
            <p>
                <b>Разделяне на пъпки</b> - по време на развитието на съцветия, пъпките остават компактни за дълго време, след това се разделят на групи или връзки от няколко парчета, а преди цъфтежа окончателно се отделят (отделят).
            <p>
            </p>
                <b>Ombrella</b> е високостеблена форма на гроздов храст с висящи издънки.
            </p>
            <p>
                <b>Миграцията</b> на култивирано грозде е постепенното развитие на различни видове (сортове) чрез периодичен внос (интродукция) от различни страни, започвайки от древни времена.
            </p>
            <p>
                <b>Хранителни вещества</b> - гроздовото растение съдържа нишесте, монозахариди, дизахариди.
            </p>
            <p>
                <b>Ретарданти</b> (от латински „retardo“ - забавям темпото), същите инхибитори (от латински „инхибиране“ - сдържам) - група от физиологично активни съединения, които могат да инхибират растежа на стъблата на растенията, да предизвикат удебеляването им, да повишат производителността.
            </p>
            <p>
                <b>Репеленти</b> - означава отблъскване на градински вредители (например креолин, нафталин и др.).
            </p>
            <p>
                <b>Популацията</b> е произволна смес от свободно кръстосващи се индивиди (в природата на един вид растения и животни), генетично хетерогенни, като набор от различни биотипове.
            </p>
            <p>
                <b>Посадъчният материал</b> - гроздови семена, внесени в земята, е сеитба, откъдето идва и името на растението - разсад; стъбло (дръжка) е отделена част от лозата; ако стъблото е засадено в училище, тогава младо растение се нарича разсад. Това вегетативно размножаване е същото като разсада.
            </p>
            <p>
                <b>Полярност</b> - "вертикална полярност" при гроздето се проявява във факта, че засадените резници развиват издънки от горния край, а корените от долния край. Издънките от по -високи пъпки (очи) са първите, които започват да растат и се развиват по -силно, стремейки се през цялото време нагоре. При огъване на плодовата стрелка върху храста вертикалната полярност се потиска в различна степен, в зависимост от ъгъла на наклона.
            </p>
            <p>
                <b>Етап на развитие (теория)</b> - учението за законите на индивидуалното развитие на растенията (тревисти), при което процесите на развитие се определят от последователни етапи. Два етапа са добре проучени: яровизация и светлина. Етапните промени са необратими: докато първият етап от развитието не приключи, организмът не може да влезе в следващия. Гроздовото растение обикновено е готово да даде плод на 3 -ти етап от развитието.Следователно засаденият едногодишен разсад достига плододаване за два сезона. Двугодишен разсад, очевидно, след един сезон, засадената резница започва да дава плодове след три години. Въпреки това, със съвременни познания, всеки от разсад може да бъде накаран да даде плод година по -рано, като се използват ранните издънки на пасинка в последния му етап (ускорено образуване - според Ф. Баширов).
            </p>
            <p>
                <b>Стратификация</b> - подготовка на присадки чрез излагане на висока температура и влажност, за да се предизвика образуването на обрасла тъкан на кръстопътя на издънката и подложката.
            </p>
            <p>
                <b>Тетраплоид</b> (четворни видове) е организъм, който има 4 основни (хаплоидни) набора от хромозоми във всички или отделни клетки на тялото. При гроздето те се срещат под формата на геномни мутации с големи плодове. (Пример е парниковият мутант на Leopold-111.) Индуцираното с колхицин производство на тетраплоиди се е превърнало в обичайна практика в Съединените щати и западното лозарство.
            </p>
            <p>
                <b>Толерантен</b> - издръжлив, толерантен към определено ниво на инфекциозен произход. Когато това ниво бъде надвишено, растението умира.
            </p>
            <p>
                <b>Фитонцидите</b> са летливи защитни ароматни вещества на много растения (известни от древни времена), способни да инхибират растежа на бактерии и гъбички. Те включват листа от евкалипт, вишневи лаври, синапено семе, мирта, корени от хрян, лук, чесън, магданоз, дъбови листа, иглолистни дървета, листа от черница, див розмарин и др. Химията на фитонцидите замества токсичните химикали в селскостопанското производство, както и на практика градинари и любители лозари.
            </p>
            <p>
                <b>Фитоклиматът</b> (от гръцки "fiton" - растение) е състояние на микроклимат, например на лозе, характеризиращо се с температура и влажност в почвения въздушен слой. Фитоклиматът може да се регулира.
            </p>
            <p>
                <b>Плодородие на цветен прашец</b> - способността на полена да покълне, неговата жизнеспособност.
            </p>
            <p>
                <b>Екологията</b> е биологична наука, която изучава връзката на живите организми с околната среда, тоест с живата и неживата природа.
            </p>
            <p>
                <b>Растителната екология</b> е клон на ботаниката, който изучава връзката на растенията с тяхната среда, особеностите на тяхното приспособяване към конкретна екологична ситуация. В наше време се изучава интегриран подход към създаването на екологични ресурси.
            </p>


        </div>
    </div>
</div>
</div>

</body>
</html>