<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Useful tips</title>
    <base href="/">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="all.min.css"/>
    <link rel="stylesheet" href="scrollbar.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />


</head>
<body>

<div class="container">
<div class="infoboard-frame">
    <div class="menu">
        <div class="menu-items">

            <a th:href="@{/index}">
                <div>Назад</div>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/logout}">
                <div>Изход</div>
            </a>
        </div>
    </div>
    <div class="infoboard">

        <div class="display-info">

            <h1>Съвети за начинаещия лозар</h1>

            <div>&nbsp;</div>

            <p>
                Въпросът, който си задава всеки агроном и винопроизводител е как да отгледа идеалната реколта грозде, което в последствие да пресътвори в идеалната реколта от вино.
                Въпросителните са много, а не са малко и факторите, които трябва да се следят, когато се отглеждат лозя. От ключово значение е сортът, който ще изберете да засадите, но също мястото и грижите, които полагате за своето лозе.
                Защо капковото напояване е най-добрият и избор за напояване на гроздето? С какво превъзхожда другите методи? И за какво още трябва да внимавате? Всички съвети, които един начинаещ лозар трябва да получи, събрахме за вас.
            </p>

            <div>&nbsp;</div>

            <h5>
                Кога се приготвят лозовите насаждения?
            </h5>

            <div>&nbsp;</div>

            <p>
                Създаването на лозови насаждения обикновено се прави през есента и пролетта. При есенното засаждане процента на прихващане е по-висок и има вероятност  за по-добър растеж на лозите през първата година.
            </p>

            <div>&nbsp;</div>

            <h5>
                Как да изберем място за засаждане?
            </h5>

            <div>&nbsp;</div>

            <p>
                Изложението и релефът на терена са двата основни фактора, които взимаме под внимание, когато избираме място за засаждане на лозови насаждения. Те са пряко свързани със състава на почвата, температурата и достъпа до пряка слънчева светлина.
                За по-хладните райони се препоръчва южно, югоизточно или югозападно изложение. При такива условия гроздето узрява по-рано и натрупва повече захари. По правило, колкото по-неблагоприятни са останалите условия, толкова по-южно трябва да е изложението спрямо слънцето. В противен случай гроздето става с по-ниска захарност и с повече киселини.
                Северното изложение е по-подходящо за южните и по-топли области. То дори е препоръчително за по-сухите местности с горещ климат. За България много подходящо за отглеждане на грозде се оказва северното изложение край р. Дунав.
            </p>

            <div>&nbsp;</div>

            <h5>
                Равнинен или наклонен терен? Кое е по-доброто?
            </h5>

            <div>&nbsp;</div>

            <p>
                Лозата може да се отглежда успешно както на равнинен терен, така и по склонове и хълмове с различен наклон. Разликата е в останалите условия, които трябва да се осигурят.
                В равнините и в ниските места почвите са по-богати и по-свежи. Ето защо лозите се развиват по-буйно и дават повече грозде, но то често е с по-ниско качество. Вегетацията на растенията продължава до късно, но пръчките остават недозрели. Гроздето е по-воднисто и неиздръжливо на транспортиране или съхранение.
                Засаждането по хълмове, от друга страна, е практика още от дълбока древност. Препоръчва се като терен, защото полученото грозде е по-висококачествено, а плододаването е по-равномерно.
                Разположените по хълмовете позволява лозята да се огряват по-продължително. Температурните условия са по-подходящи, тъй като слънчевите лъчи достигат повърхността на почвата под ъгъл, близък до правия. Тези фактори са определящи за по-високата захарност на гроздето и  съдържанието на повече багрилни вещества. По-доброто проветряване осигурява по-малък риск  от заразяване с болести като мана и оидиум, както и по-добра устойчивост към сиво гниене. Лозите стават по-издръжливи на ниски температури. Пръчките им узряват по-добре.
            </p>

            <div>&nbsp;</div>

            <h5>
                Какви температури обича лозата?
            </h5>

            <div>&nbsp;</div>

            <p>
                Температурните условия имат ключова роля за развитието на лозята и, разбира се, за качеството и количеството от реколтата. Това растение вирее най-добре в условия на умерен климат и на места с ясно изразена сезонност. Лятото и пролетта са сезоните, в които лозята се развиват, а през зимата са в състояние на покой.
                Около 200 дни продължава вегетацията на тези растения и затова се нуждаят от тиха и дълга есен.
                Най-благоприятната температура за лозята е в границите между 25-30°С. Горещините не са благоприятни, а стойности над 40°С могат да са пагобни за листата и зърната на гроздето. Минималните стойности, на които издържат, са -17°С.
            </p>

            <div>&nbsp;</div>

            <h5>
                Каква влажност на почвате е най-подходяща?
            </h5>

            <div>&nbsp;</div>

            <p>
                Гроздето е сред онези растения, които трябва да се поливат изключително внимателно. Прекомерната влажност не му се отразява добре, но за сметка на това е много сухоустойчиво. Гроздето развива дълбоки корени и черпи вода от по-долните слоеве на почвата. Излишната влага дори в дълбоките почвени пластове потиска растежа на корените и може да причини тяхното загниване.
                Най-голяма нужда от вода лозата изпитва по време на усиления растеж до след прецъфтяването, когато зърната започват да наедряват. При нормална почвена влага растежът на леторастите е силен, добивът и качеството на гроздето са високи.
                Честите превалявания по време на цъфтеж пречат на нормалното оплождане и подпомагат изресяването. Ранните есенни валежи пък пречат за узряването, гроздето остава воднисто и с ниска захарност.
            </p>

            <div>&nbsp;</div>

            <h5>
                Каква почва е подходяща за отглеждане на лози?
            </h5>

            <div>&nbsp;</div>

            <p>
                В плитки, песъчливи почви лозята страдат най-много от суша и затова по-подходящи са дълбоките наносно-песъчливи почви. В почви, богати на вар, както и в почви, които при продължително засушаване не образуват големи пукнатини, обикновено лозата е по-устойчива.
            </p>

            <div>&nbsp;</div>

            <h5>
                Как да напояваме гроздето правилно?
            </h5>

            <div>&nbsp;</div>

            <p>
                Излишното напояване на лозите трябва да се избягва, защото влошава физическата структура на почвата и спада качеството на гроздето. То става нетрайно и с по-малко захари. Излишната влага освен това пречи на доброто развитие на кореновата система.
                От разпукването на пъпките до началото на цъфтежа е периодът, в който лозята се нуждаят от най-много вода. По това време влажността и атмосферната влажност обикновено са високи.
                По време на цъфтежа влажността е по-умерена. Прекомерната влажност в този период дори причинява окапване на цветчетата и се получава т.нар. изресяване. След цъфтежа едновременно с бързото нарастване на леторастите започват да наедряват бързо и зърната. Формират се съцветия. Нуждата от вода спада след средата на август.
                За добрия ефект от напояването от значение е не само срокът, но и количеството на водата, т.е. поливната норма. Напояването с ниски поливни норми няма ефект, защото малкото вода не прониква на дълбочината на корените и бързо се изпарява от повърхностния почвен слой. В зависимост от особеностите на почвата и съдържанието на влага в нея, за 1 кв. м. са необходими от 70-80 до 100-120 л вода.
            </p>

            <div>&nbsp;</div>

            <h5>
                В България обикновено се прилагат следните 3 метода за напояване:
            </h5>

            <div>&nbsp;</div>

            <h5>
                1. Капково напояване
            </h5>

            <div>&nbsp;</div>

            <p>
                Изграждането на система за капково напояване е най-добрият начин да се осигури контролирано и ефективно поливане на гроздето.
                Специалистите проектанти на Стабил Агро Трейд могат да посетят на място вашата градина или лозе, за да ви консултират. Ще ви препоръчат продуктите, които са най-подходящи за вашия терен. Ще изготвят индивидуален проект за система за капково напояване спрямо вашите нужди и ще монтират съоръженията в най-кратък срок.
                Чрез капковото напояване се постига икономия на водата от 20-60% на поливната норма. Водата се разпределя по-правилно по дължината на лозовия ред. Този метод на поливане е подходящ за използване на места със сложен релеф, плитки и каменисти почви. Автоматизацията на поливния процес създава най-благоприятния и оптимален за лозата режим на почвено овлажняване.
                Системата за капково напояване може да се използва също и за внасяне на течни торове, чрез които да се ускори растежът на лозата, да се повиши добивът и да се подобри неговото качество.
            </p>

            <div>&nbsp;</div>

            <h5>
                2. Поливане на бразди
            </h5>

            <div>&nbsp;</div>

            <p>
                Поливането на бразди също е добър вариант, но в сравнение с капково напояване е по-трудоемко и времеемко като процес. Ако решите на напоявате лозето си по този начин, спазвайте следната или подобна схема:
                ­­- при ширина на междуредието 1,5-2 м се прави бразда в средата на всяко междуредие
                - браздата е с дълбочина от 12 до 25 см и ширина от 30 до 40 см в горната част
                - дължината на браздите зависи от структурата на почвата и наклона на мястото и варира от 30 до 100 м.
                Преди да започнете браздово напояване, необходимо е да извършите риголване на почвата и да я нивелирате преди засаждането на лозите.
            </p>

            <div>&nbsp;</div>

            <h5>
                3. Заливане на цялата повърхност на почвата с вода
            </h5>

            <div>&nbsp;</div>

            <p>
                Този метод за напояване на лозите все още се използва на някои части на България, въпреки че не е сред най-удачните. Той те състои в заливане на цялата повърхност на почвата с вода. Извършва се 2-3 пъти годишно и всеки път се налага обработка на почвата. Често обаче се стига до разрушаване на структурата на почвата и до образуване на дебела кора.
                Първото напояване при прилагане на този метод за поливане обикновено се прави през втората половина на юни, след прецъфтяването на лозите, или най-късно в началото на юли, ако през пролетта не са паднали достатъчно валежи. При малко валежи през лятото второто напояване се извършва в кр. на юли, нач. на август или когато стане прошарването на гроздето.
            </p>

            <div>&nbsp;</div>

            <h5>
                Кога се прави резитба?
            </h5>

            <div>&nbsp;</div>

            <p>
                Резитбата е задължителен процес при отглеждането на лозя! За нейните цели ви предлагаме лозарски ножици Vesco. Лозата създава тънки и дълги леторасли, които, ако не са увити около някоя подпорна конструкция или около съседни дървета и храсти, полягат на земята. Ако не се подрязват, летораслите растат буйно и се отдалечават от основата на растението. За да се избегне това, посредством резитби и подпорни конструкции се създават следните видове формировки на лозата: чашковидна, Гюйо, Мозер, Омбрела, асмовидна и др.
                Зимната, известна още като суха резитба, се извършва от есента след листопада до началото на напъпването през пролетта. Тази резитба е основна и водеща. Прилагат се два вида резитби - късна и смесена в зависимост от сорта на гроздето и неговата родовитост.
            </p>

            <div>&nbsp;</div>

            <h5>
                Кой сорт грозде на изберем?
            </h5>

            <div>&nbsp;</div>

            <p>
                Вариантите са многобройни, но препоръчваме да се спрете на някой от следните:
            </br>
                -  ранни десертни сортове: Перл дьо Ксаба, Мимоза, Супер ран Болгар, Май 10, Мечта, Плевен, Мискет тракийски, Тракия, Мискет пловдивски, Кардинал, Мискет дунавски, Царица на лозята, Чауш, Шасла доре
            </br>
                -  средно ранни десертни сортове: Болгар, Мискет хамбургски, Алфонс Лавале
            </br>
                -  по-късни десертни сортове: Италия, Червена разакия, Червена лисича опашка
            </br>
                -  безсеменни сортове: Бяло без семе (Султанина), Безсеменен хибрид V-6, Безсеменен хибрид VI-4, Перлет
            </br>
                -  сортове, подходящи за производство на бяло вино: Димят, Мискет червен, Юни блан, Ркацители, Ризлинг италиански, Алиготе
            </br>
                -  сортове, подходящи за производство на червено вино: Памид, Гъмза, Мавруд, Зарчин, Шевка, Сензо, Мерло, Саперави, Каберне Совиньон
            </br>
                -  културни сортове за подобряване цвета на виното: Аликант буше, Гран ноар
            </p>


        </div>
    </div>
</div>
</div>

</body>
</html>