<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="description"  th:fragment="vine">

    <p>
        Лоза̀ (Vitis) е род многогодишни растения от семейство Лозови (Vitaceae). Включва около 70 вида, разпространени в умерения пояс на Северното полукълбо, главно в субтропични области на Европа, Средна Азия, Северна Африка и Северна Америка. Палеоботаническите изследвания доказват, че лозата се е появила на Земята преди човека. Смята се, че дивата лоза е окултурена около 7000 г. пр.н.е. в районите на Задкавказието, земите около Каспийско и Черно море, Мала Азия и Месопотамия. От тези области лозата е пренесена на Балканския полуостров около 3090 пр.н.е., по-късно – и в други страни на Европа. В България расте Vitis vinifera.
    </p>

</div>

</body>
</html>