<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>practice</title>

</head>
<body>

<div class="description"  th:fragment="feb_practice">

    <div>&nbsp;</div>

    <h3 th:text="'Добри практики през ' + ${phenophase.name}" ></h3>

    <div>&nbsp;</div>

    <p>
       - Проверете има ли измръзнали лози от зимните студове;
        </br>
       - Към края на месеца може да се започне резитбата на лозите;
        </br>
       - От изрязаните пръчки може да си подготвите материал за вкореняване на нови лозички след щателна проверка за наличие на вредители или болести по тях;
        </br>
       - Местата, определени за нови лози се почистват от храсти, трева и камъни, подравняват се, изграждат се напоителни системи;
    </p>

    <p>
        В по-топлите дни от месеца започва резитбата като е желателно тя да приключи преди началото на сокодвижението. Режат се първо винените сортове, които са по-студоустойчиви - Каберне Совиньон, Мерло, Мискет. Резитбата на десертните сортове се прави на по-късен етап. На новосъздадените лозя се изгражда подпорна конструкция, а тази на старите се проверява за повреди и при нужда се ремонтира.
    </p>

    <p>
        Лозовия посадъчен материал трябва периодично да се преглежда и да се отстраняват заразените лози. Следи се за поддържането на оптимална температура и влажност на въздуха в помещението където се съхранява.
    </p>

    <p>
        Плододаващите лозя трябва да се наторяват с фосфорни и калиеви торове.
    </p>

    <p>
        След резитбата трябва да се проследят нараняванията по лозата. Ако след подрязване пръчката сълзи трябва да реагирате бързо защото растението губи ценни хранителни свойства. Мястото където е бил срезът се намазва с боя или се полива с восък. В селскостопанските аптеки може да откриете и специален мехлем за спиране на сълзенето.
    </p>

</div>

</body>
</html>