<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>practice</title>

</head>
<body>

<div class="description"  th:fragment="jan_practice">

    <div>&nbsp;</div>

    <h3 th:text="'Добри практики през ' + ${phenophase.name}" ></h3>

    <div>&nbsp;</div>

    <p>
        През януари в лозята се извършват сравнително малко агротехнически и растителнозащитни мероприятия. В слънчевите и по-топли дни трябва да се обследват лозите с по-високи формировки за установяване на червен овощен акар и жълт ябълков акар. Неприятелите зимуват като яйца по чеповете на растенията и около пъпките на лозовите пръчки, както и в пукнатините на кората.
    </p>

    <p>
        Целта на тези проверки е да установите плътността на вредителите и да набележите мерки за справяне с тях, докато са още във вегетационен период.
    </p>

    <p>
        Стопани, които ще създават нови лозови насаждения и са закупили пръчки през есента, трябва да ги съхранят до пролетта на следващата година при оптимален режим. В помещението да се поддържа влажност на въздуха около 60-65% и влажност на пясъка 3-5%, а температурата на въздуха да е 2-6 градуса. При температура над 8-10 градуса има опасност от прорастване на пъпките.
    </p>

    <p>
        През януари често температурите падат до много ниски стойности. Под минус 20 градуса могат да доведат до измръзване на  част от пъпките. Затова в края на месеца трябва да се извърши обследване. При повреда пъпките и дървесината почерняват. След това чрез резитба се извършва правилното нормиране на добива.
    </p>



</div>

</body>
</html>