<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>basics</title>

</head>
<body>

<div class="description"  th:fragment="jun_practice">

    <div>&nbsp;</div>

    <h3 th:text="'Добри практики през ' + ${phenophase.name}" ></h3>

    <div>&nbsp;</div>

    <p>
        <b> През месец юни пръсканията за опазване на лозата от болести продължават.</b> През този период от развитие на лозата много опасна е маната. Освен по листата, признаците на болестта се появяват и по цветовете, по младите завръзи, по-късно и по наедрелите зърна. Критичният период за заразяване обхваща цъфтежа, времето след прецъфтявнането и продължава докато зърната наедреят и достигнат големината на грахово зърно. Прз тази фаза от развитието на лозата се правят чести пръскания. За маната по лозата са одобрени голям  брой фунгицидни препарати – бордолезов разтвор 1%, бордо микс 20ВП – 500-600 г/дка, витра 50ВП – 150 г/дка, купретин М-400 г/дка, купро 50ВП – 250 г/дка, купроксат ФЛ – 300 мл/дка, фунгуран ОН50ВП – 150 г/дка, шампион ВП – 150 г/дка, меден оксихлорид 50ВП – 250 г/дка, румба 35СК – 350 г/дка.
    </p>

    <p>
    Одобрени контактни препарати с предпазно действие са: антракол 70ВГ – 150 г/дка, банко 500 – 200 мл/дка, делан 700ВДГ – 50 г/дка, дитан ДГ – 300 г/дка, дитан М-45 – 300 г/дка, електис 75ВГ – 180 г/дка, кабрио ТОП – 150 г/дка (интервал на пръскане 7-10 дни), куадрис 25СК – 75 мл/дка, купроцин супер М – 200 г/дка, манкоцеб 80ВП – 300 г/дка, манфил 75ВГ – 210 г/дка, пенкоцеб 80ВП – 200 г/дка,пенкоцеб 75ВГ – 210 г/дка, полирам ДФ – 200 г/дка, санкоцеб 80ВП – 300 г/дка, фолпан 80ВДГ – 150 г/дка. Продължителността на действието на тези препарати е около 7 дни.
    </p>
    <p>
       <b> За маната</b> са одобрени и следните системни или системно-контактни фунгициди с лечебно и предпазно действие: акробат плюс ВГ – 200 г/дка, арметил М – 250 г/дка, арметил СВП – 250 г/дка, верита ВГ – 150 г/дка, винкер ВГ – 200 г/дка, галбен 8М65 – 250 г/дка, драго 76ВП – 160 г/дка, икуейшън ПРО – 40 г/дка, корсейт МДФ – 250 г/дка, корсейт РДФ – 250 г/дка, корсейт макс ВП – 150 г/дка, купросейд голд М – 150 г/дка, мелоди компакт – 150 г/дка, микал флаш – 300 г/дка, моксимат 505ВП – 240 – 300 г/дка, пасодобле 70ВГ – 200 г/дка, пергадомед 27ВГ – 500 г/дка, пергадо Ф 45ВГ  - 200 г/дка, профайлър 71,1ВГ – 200-225 г/дка, ридомил голд МЦ68ВГ – 250 г/дка, свинкс екстра (виностар) – 180 г/дка (при виненни сортове), шавит Ф72ВДГ – 200 г/дка.
    </p>

    <p>
    Продължителността на действие на тези препарати е около 15 дни. Те се прилагат, когато условията благоприятстват по-силното развитие на болестта, също и през критичния период за заразяване - по време на цъфтежа и след цъфтежа, когато зърната започват да се събират и гроздът се затваря.
    </p>
    <p>
        <b> Оидиум (брашнеста мана). </b> Критичният период за развитието на болестта е фазата преди цъфтежа и по време на цъфтежа. Първото пръскане се прави рано – при дължина на летораста 10-15 см, второто – 10-14 дни преди цъфтежа. След прецъфтяването на лозите се правят 2-3 пръскания в зависимост от условията на времето и проявите на болестта.
    </p>

    <p>
    <b> За оидиума </b>са одобрени следните продукти, съдържащи намокрима сяра: акоидал ВГ – 25 г, солфоликид – 30 г, тиовит джет 80ВГ – 30 г преди цъфтежа и 20 г г след цъфтежа, кумулус ДФ – 20-30 г.
    </p>
    <p>
        За тази болест са одобрени и следните фунгициди с лечебно и предпазно действие: ардент 50СК – 2 г, байфидан 250ЕК – 1 мл, бампер 25ЕК – 2 мл, динали 090ДК – 5 мл, индар 050ЕВ – 6 мл, кабрио ТОП – 20 г, колис 4 мл, луна експирианс – 1,2-4 мл (при винени сортове), ориус 25ЕВ – 4 мл, систан супер 24ЕК – 1 мл, строби ДФ – 2 г, талендо 20ЕК – 2 мл (биопродукт) – 50 мл – внася се през 7-14 дни, топаз 100ЕК – 1,5 мл, топ плюс 70ВГ – 10 г, топсин М70ВГ – 10 г, фоликур 250ЕВ хоризонт – 4 мл, шавит Ф72ВДГ – 20 г, куадрис 25СК – 7,5 мл.
    </p>

    <p>
        При прилагане на контактни фунгициди интервалът между отделните пръскания е 7 дни, при системните – около 14 дни.
    </p>

    <p>
        <b> Сиво (ботритисно) гниене.</b> За опазване на цветовете от тази болест в края на цъфтежа се пръска с кабрио ТОП – 20 г, кантус – 10 г, куадрис 25СК – 7,5 мл, суич 62,5ВГ – 8 г, тирам 80ВГ – 40 г, топсин М70ВДГ – 10 г, топ плюс 70ВП – 10 г, фолпан 80ВДГ – 15 г, шавит Ф72ВДГ – 20 г.
    </p>

    <p>
        Фунгицидите ТОП, шавит 72ВДГ и куадрис 25СК са одобрени и за трите болести по лозата – мана, оидиум и сиво гниене.
    </p>
    <p>
        Летежът на пеперудите от второто поколение на шарения гроздов молец започва обикновено през втората половина на юни и завършва към края на юли. Пепепрудите от това поколение снасят яйцата си по ягоридата. Гъсеничките повреждат зърната с големина на грахово зърно като ги нагризват и изгризват вътрешността им. Пръскането се прави при наличие на 6-8 яйца или гъсеници на 100 ягориди и гроздове за десертните сортове и 8-10 за винените сортове.
    </p>
    <p>
    Одобрени препарати за този неприятел са: авант 150СК – 2,5 мл, вазтак нов 100ЕК – 1,25 мл, децис 2,5ЕК – 4 мл, децис 100ЕК – 12,5-17,5 мл/дка,дека ЕК -40-60 мл/дка, карате зеон 5КС – 2 мл, корагени 20СК – 18 мл/дка, нуреле Д – 5 мл, релдан 40ЕК – 120 мл/дка, суми алфа 5ЕК – 2,5 мл, фюри 10ЕК – 1,25 мл, циклон 10ЕК – 1,5 мл, цитрин макс – 6 мл/дка, шерпа 100ЕК – 50 мл/дка, нексид 015КС – 3 мл, синейс 480СК – 4-18 мл/дка (10-15 мл от препарата в 100 л вода с работен разтвор от 40 до 120 л/дка).
    </p>
</div>

</body>
</html>