<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>practice</title>

</head>
<body>

<div class="description"  th:fragment="mar_practice">

    <div>&nbsp;</div>

    <h3 th:text="'Добри практики през ' + ${phenophase.name}" ></h3>

    <div>&nbsp;</div>

    <p>
        Оставена сама без човешка намеса лозата създава гъста мрежа от пръчки които се оплитат една в друга. Всяка следваща година, младите леторасли покарват най-буйно от връхните пъпки на съответната пръчка и по този начин се отдалечават все повече от основата на растението.
    </p>
    <p>
        Затова до края на март трябва да приключи резитбата на лозята, а до началото на април и на асмите.
    </p>
    <div>&nbsp;</div>
    <h5>Видове резитба</h5>
    <p>
        Човекът посредством резитби и подпорни конструкции е създал следните няколко вида формировки на лозата: чашовидна, Гюйо, Мозер, Омбрела, асмовидна и др. Имаме също така зимна и смесена резитба. Зимната, известна още като суха резитба, се извършва от есента след листопада до началото на напъпването през пролетта. Тази резитба е основната и водещата. Прилагат се два вида резитби – къса и смесена, в зависимост от сорта и неговата родовитост. Късата се нарича чепова. При тази резитба пръчките се режат на две пъпки (очи) от основата (получава се чеп с две очи). Изрязаните по този начин части се наричат плодни звена. Пръчките за плодни звена не трябва да са много тънки или много дебели, а средно дебели и добре узрели. Установено е, че пъпките на тези пръчки са с добра родовитост.
    </p>

    <p>
        Много важно е да се знае, че при резитбата на лозата не всички пръчки, които са израснали от лозата се оставят и се изрязват на посочените плодни звена. Около 80-90% от тях се отстраняват, като се изрязват до основата и само малка част се оставят за плодни звена, така че лозата бива натоварвана със зимни очи в зависимост от формировката от 10-15 до 30-40 броя.
    </p>

    <div>&nbsp;</div>

    <div>

        <img style="max-width: 400px;
                            box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
             th:src="@{/images/rezitba-gujo.jpg}"/>

        <h5>Чепове</h5>

        <p>
            Друга съществена особеност при резитбата на лозата е местоположението на чеповете и плодните пръчки върху рамената и кордоните. Като правило първата пръчка от стария чеп се реже за нов, а по-горната пръчка се премахва, като се прерязва през стария чеп. При смесената резитба се оставят и по-дълги пръчки на 10 до 12-14 очи, наречени плодни или по-къси пръчки с 6-8 очи, наречени стрелки.
        </p>

        <p>
            От стария чеп долната пръчка се реже за нов чеп, а по-горната пръчка се оставя за плодна пръчка. Когато върху стария чеп има само една развита пръчка, тя се оставя за нов чеп, а за плодна се избира пръчка от старата плодна пръчка. Върху едно рамо не се оставят повече от 2-3 чепа при късата резитба.
        </p>
        <p>
            При смесената резитба плодните пръчки трябва да не се оставят върху всяко рамо, а през 1-2 рамена, за да не претрупва лозата с много плод.
        </p>
        <p>
            При резитбата през пролетта, отрезите при чепа се извършват наклонено в противоположна посока на горното око. По този начин капките вода, които изтичат от чепа, не обливат долната пъпка.
        </p>
        <p>
            Ако добивът по количество и качество е задоволителен и растежната сила на лозите е нормална, натоварването на лозите се запазва същото, както през предшестващата година. В случай, че лозите имат буен растеж натоварването се увеличава с повече плодни очи.
        </p>

        <div>&nbsp;</div>


        <div>
            <iframe width="400" height="300"
                    style="box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-left: 15px;
                            float: right;"
                    src="https://www.youtube.com/embed/WcpxCDm6y0c"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer;
                        autoplay;
                        clipboard-write;
                        encrypted-media;
                        gyroscope;
                        picture-in-picture"
                    allowfullscreen>
            </iframe>

            <h5>Очи и стрелки</h5>
            <p>
                При смесената резитба се оставят и по-дълги пръчки на 10 до 12-14 очи, наречени плодни или по-къси пръчки с 6-8 очи, наречени стрелки.
            </p>
            <p>
                От стария чеп долната пръчка се реже за нов чеп, а по-горната пръчка се оставя за плодна пръчка. Когато върху стария чеп има само една развита пръчка, тя се оставя за нов чеп, а за плодна се избира пръчка от старата плодна пръчка. Върху едно рамо не се оставят повече от 2-3 чепа при късата резитба.
            </p>
            <p>
                При смесената резитба плодните пръчки трябва да не се оставят върху всяко рамо, а през 1-2 рамена, за да не претрупва лозата с много плод.
            </p>

            <div>&nbsp;</div>

        </div>


        <div>

            <iframe width="400" height="300"
                    style="box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
                            border-radius: 1rem;
                            margin-bottom: 15px;
                            margin-right: 15px;
                            float: left;"
                    src="https://www.youtube.com/embed/ASXfU8AfNUI"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer;
                        autoplay;
                        clipboard-write;
                        encrypted-media;
                        gyroscope;
                        picture-in-picture"
                    allowfullscreen>
            </iframe>

            <h5>Филизене</h5>

            <p>
                С филизенето се премахват излишните леторасти на лозата през пролетта. Извръшва се около 10-15 май, когато са достигнали дължина 15-20 см и ресите са се оформили. Премахват се главно по-слабите и безплодни леторасти. При подложките се оставят 2-3 летораста повече от необходимите, защото е възможно от обработките или от по-силен вятър част от тях да бъдат унищожени. След 10-15 дни се прави второ филизене, с което се оставя окончателният брой на леторастите и се прави първото привързване. С филизенето лозата се подготвя за следващата резитба, улеснява се борбата с болестите и неприятелите, осигурява се по-добър растеж на останалите леторасти, създават се условия за тяхното по-добро огряване. Основно мероприятие при отглеждането на подложки за получаването на гладък резников материал е колтученето.
            </p>

            <p>
                Колтуците, които са се развили от летните пъпки на основния летораст, се премахват. Прави се, когато култуците са още крехки и малки, с дължина не повече от 7-8 см. Така не се нанасят рани върху основните леторасти. В плододаващите лозя се прилага рядко – при буйно растящи асми и сортове с големи листа, които засенчват гроздовете и ограничават свободния достъп на въздух до ресите.
            </p>

        </div>

    </div>

</div>

</body>
</html>