<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>basics</title>

</head>
<body>

<div class="description"  th:fragment="may_practice">

    <div>&nbsp;</div>

    <h3 th:text="'Добри практики през ' + ${phenophase.name}" ></h3>

    <div>&nbsp;</div>

    <h5> Неотменна грижа за лозето през май е филизенето.</h5>
    <p>
        То изиграва ролята на допълнителна резитба, поливане, подхранване и е част от борбата с маната и другите болести и неприятели. Специално внимание трябва да се обърне на филизенето на младите лози, на които ще се придадат стъблени формировки (асмовидно, етажни кордони, кордон Роая, Мозер, Омбрела и др.).
    </p>
    <p>
        Наблюдавайте редовно появата и развитието на ресата. При склонните към изресяване десертни сортове задължително се извършва прищипване. Ако забележите изресяване и при други сортове, напълно възможно при неблагоприятни условия, приложете прищипването и при тях. Имайте предвид, че мярка срещу изресяването е и филизенето.
    </p>

    <div>&nbsp;</div>
    <h5>Не пропускайте обработката на почвата в лозето.</h5>
    <p>
        Плиткото прекопаване след филизенето, прищипването и привързването е наложително, защото почвата леко е отъпкана. Освен това с обработката се унищожават и никнещите плевели. Рохкият повърхностен слой ограничава и изпарението на влагата. С това окопаване се поставя началото на летните обработки.
    </p>

    <p>
        Започва борбата с маната и оидиума според възникването на условията за появата и развитието на тези болести в отделните райони на страната. До цъфтежа се използват фунгициди с контактно действие, като предпазно средство. Пръскат се както плододаващите, така и младите и новозасадените лози.
    </p>

    <p>
        Възможни са нападения от шарения гроздов молец, чиито гъсеници повреждат ресите. У нас по лозята вредят няколко вида молци. Най-широко разпространен е шареният гроздов молец. Наред с него, по Черноморието често проблеми създава и еднопоясният гроздов молец, а понякога из лозята на Южна България се среща и миниращият гроздов молец. Най-чести и значителни са щетите от шарения и по-малко от еднопоясния.
    </p>

    <div>&nbsp;</div>
    <h5>Шареният гроздов молец е малка пеперуда.</h5>
    <p>
        При разперени крила достига 18 – 20 мм. Предните крила са ръждивокафяви с две напречни светли ивици и неясно изразени тъмнокафяви, жълтеникави, сивозеленикави до сивосинкави шарки, откъдето идва и името му. Пеперудата лети привечер и нощно време. През деня се укрива в сенките на листата. При обезпокояване прелита с криволичещи движения на къси разстояния.
    </p>
    <p>
        Развива три поколения годишно. Живее около 10 дни, през което време снася яйца, дълги до 0,6-0,8 мм, елипсовидни и слабо сплеснати от горната страна. Женската снася яйцата, когато температурата на въздуха привечер и няколко часа след това се задържа над 13-14 градуса. От яйцата след около 7-10 дни се излюпват гъсенички, отначало белезникави, а по късно зеленикави, слабо окосмени, с тъмнокафяви главички. Гъсеничките от първото поколение се хранят с цветните пъпки, а по-късно с цъфналите реси и ягоридата. Нападнатите места оплитат в паяжинени нишки.
    </p>
    <p>
        Развитието на гъсениците продължава 25-30 дни, след което се настаняват под старата кора или в пукнатини. Там правят пашкулче, в което какавидират. След около 10-12 дни, в края на юни и първата половина на юли, какавидите се превръщат във възрастни пеперуди. Това са пеперудите от второто поколение. Те са по-многочислени и щетите от това поколение са по значителни. Излюпилите се гъсеници се вгризват в зърната и се хранят с месеста им част. Те също оплитат зърната по няколко на брой в паяжинени нишки. Какавидират по същите места, по които и гъсениците от първото поколение.
    </p>
    <p>
        През август, когато започне да зрее гроздето, се появяват пеперудите от третото поколение. Гъсениците им се хранят с месестата част на гроздето, като за изхранването си повреждат по няколко зърна. Приключат ли развитието си, също се настаняват под старата кора или в пукнатини на колове, какавидират и в това състояние зимуват. Гъсениците от това поколение са най-многочислени и нанасят най-много щети.
    </p>

    <p>
        <b> Еднопоясният гроздов молец е също малка пеперуда, </b>не по-голяма от шарения гроздов молец. Предните крила са светложълти или светлокафяви със сребристи петна. По средата им е разположена тъмнокафява ивица. Когато крилата са събрани, тя наподобява пояс, който опасва пеперудата, откъдето идва и името на неприятеля.
    </p>

    <p>
        Гъсеницата след излюпването е светлосива с червеникава линия по дължината на тялото. По късно цветът на гъсеницата се променя  към светлозелен, сивочервеникав, а понякога и с виолетов отенък.
    </p>

    <p>
        По начина на живот и по повредите, които нанася, еднопоясният гроздов молец не се различава особено от шарения. Най-съществената отлика е, че развива две поколения годишно. За нормалното развитие на гъсеницата и какавидата важна е влагата, поради което по-често се среща във влажни райони. Пеперудите от първото поколение снасят яйцата също привечер, но при малко по-висока температура – 14-15 градуса. Пеперудите от второто поколение летят главно през юли, но при подходящи условия, каквито обикновено не липсват, се появяват още в края на юни.
    </p>

    <p>
        Щетата от гроздовите молци е двояка. Освен преките повреди, те отварят рани, които способстват силното развитие на сивото гниене.
    </p>
    <p>
        Борбата се води както с агротехнически, така и с химически средства. Преди да пристъпите към употребата на химически препарати, направете всичко възможно да предотвратите до минимум появата им. Най-съществената мярка е наесен да почистите старата кора, където е зимното убежище на неприятеля. Почиствате я навсякъде – по стъблата, кордоните и рамената и я изгаряте. Ако използвате дървени колове за опорна конструкция, те също трябва да са без кора. Хвърлете поглед и на пукнатините по тях, за да установите има ли пашкулчета на какавиди и физически ги унищожете. Имайте предвид, че целите дървени колове се напукват повече отколкото разцепените на две.
    </p>


</div>

</body>
</html>