<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>practices</title>

</head>
<body>

<div class="description"  th:fragment="nov_practice">

    <div>&nbsp;</div>

    <h3 th:text="'Добри практики през ' + ${phenophase.name}" ></h3>

    <div>&nbsp;</div>
    <p>
    Набляга се на работата по подготовката за презимуване на лозите. Задължително да се извърши основно торене с фосфорни и калиеви торове, след което почвата да се изоре на дълбочина 18-20 см. Торенето е едно от основните мероприятия, определящо развитието на силни лози, от които се получават устойчиви по количество и качество добиви.
    </p>
    <p>
        Лозата с успех усвоява фосфора от трудно разтворими фосфорни форми, като фосфоритното брашно и хиперфосфата. Освен това лозата натрупва голям запас от хранителни вещества в някои органи и тъкани и бързо да ги транспортира към мястото на потребление. Трябва да се има предвид, че хлорният йон влияе отрицателно върху качеството на зърното, поради което за торене трябва да се предпочита калиевия сулфат. Ако се налага да се внесе калиев хлорид, това да стане при винени сортове. Като калиев тор може да се използва пепелта от изгарянето на лозовите пръчки, слама и други растителни остатъци в норма 60-100 кг/дка.
    </p>
    <p>
    Десертните и някои винени сортове през този месец се изрязват и загрибват.
    </p>
    <p>
    През този месец се изваждат лозичките от вкоренилищата, сортират се и се съхраняват.
    </p>
    <p>
    При откриване на болни от рак лози, в младите насаждения, болните лози се изкореняват. В плододаващите лозови насаждения борбата с рака е най-ефикасна с нафто-динозоловата емулсия в състав: 2% динозол 50 или нитрозан 50 + 0,250 мл нафта, емулгирана съответно с обикновен сапун.
    </p>
</div>

</body>
</html>