<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>basics</title>

</head>
<body>

<div class="description"  th:fragment="sep_practice">

    <div>&nbsp;</div>

    <h3 th:text="'Добри практики през ' + ${phenophase.name}" ></h3>

    <div>&nbsp;</div>

    <p>
        През месец септември продължават да зреят много десетни сортове грозде.
    </p>
    <p>
        При тях гроздето се прибира на 2-3 пъти в зависимост от момента на узряване. Препоръчва се беритбата да става в сухо време, а гроздето да се съхранява в помещения с температура от 5 до 7,5 градуса. При прибирането на гроздето във влажно време трябва да се има предвид, че макар и обрано, то се напада от сиво гниене. При беритбата да се внимава да се запази външния вид на гроздето и да не се наранява. Лозарите трябва да създадат необходимата организация за прибирането на гроздето.
    </p>
    <p>
    Започват да зреят някои от винените сортове грозде.
    </p>
    <p>
    Гроздето предназначено за вино се бере в технологична зрялост, при която се спазват определени стойности на киселините и захарите, нужни за производството на даден тип вино. Гроздоберът започва при установяване на захарност не по-малко от 20-22% при червените и 16-18% при белите сортове. Захарното съдържание се определя при полски условия с битов захаромер.
    </p>
    <p>
    След беритбата на гроздето, след като е направен почвен анализ, може да започне торенето на лозята с фосфор и калий и след което да се извърши оран със загрибване.
    </p>
    <p>
    При по-късно зреещите сортове лози, ако през август не е извършено, в началото на месеца все още има възможност, да се извърши просветляване на лозите. По този начин се намалява засенчването и се осигурява по-добро проветряване и осветляване на гроздето, чрез кършене на леторастите и премахване на 5-6 листа (прореждане) в зоната на зреене. Това мероприятие има превантивен ефект от сиво гниене, особено ако падат чести валежи.
    </p>
    <p>
    За предпазване от сиво гниене по гроздето могат да се използват фунгицидите: Топсин М 70 ВП – 0,1%, Суич 62,5 ВП – 0,08%, Куадрис 25 СК – 0,075%, Еклер 49 ВГ – 0,05%, Шавит Ф 71,5 ВП – 0,2% и др.
    Две-три седмици преди беритбата на гроздето пръскането с химически средства трябва да приключи.
    </p>
</div>

</body>
</html>