<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_jul" th:fragment="pheno_jul">
    <p>
        Почвата трябва да се пази чиста от плевели.
    </p>
    <p>
        Продължаването на борбата с болестите и неприятелите е едно от основните мероприятия през месеца.
    </p>
    <p>
        Леторастите от плодните пръчки вече достигат най-горния тел и те трябва да се прекършат. Леторастите развилите се от чепчетата не трябва да се прекършват, а само да се извият и привържат към тела.
    </p>
    <p>
        Важно мероприятие е почистването на младите лозички от росни корени. Това трябва да стане още в началото на юли, ако не е извършено в края на миналия месец.
    </p>
    <p>
        Опасността от мана по лозата все още не е преминала. При превалявания през първата половина от месеца  се правят пръскания с контактно-системни фунгициди. Добре е последните пръскания да се правят с бордолезов разтвор. Голяма опасност за лозята през месеца е оидиума (брашнеста мана). Борбата с тази болест продължава до прошарване на гроздето.
    </p>
</div>

</body>
</html>