<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_oct" th:fragment="pheno_oct">
    <p>
        През първата половина на месец октомври приключва прибирането на винените сортове грозде. Към края на месец октомври трябва да се извърши и дълбока оран във високостъблените лозя.
    </p>
    <p>
        Дълбоката оран на лозата се извършва на 20-25 см. Трябва да се извърши торене с фосфор и калии, но само след предварително направен почвен анализ. В младите лозя се прави проверка на пропадналите растения, след което трябва да се подготвят и лозичките, които ще се засадят на местата където има загинали.
    </p>
    <p>
        Правят се обработки на почвата, като на площите, които ще се засаждат с млади лозя се извършва преораване, дисковане, а също така и маркиране на местата където ще се засаждат младите лозички. В края на месеца започва засаждането на новите лозови насаждения, както и засаждане на пропадналите лозички в младите лозя. През октомври винопроизводителите трябва да следят протичането на ферментацията на младите вина. Те трябва да подготвят и да дезинфекцират съдовете за съхранение на младото вино.
    </p>
</div>

</body>
</html>