<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_aug" th:fragment="pheno_aug">
    <p>
        През e месец август е добре да се извършват плитки окопавания в лозята на дълбочина 6 – 10 см. Това се прави с цел както да се поддържа почвата чиста от плевели, така и за запазване на почвената влага.
    </p>
    <p>
        Напояването в лозята се трябва да се преустанови най-късно 30 дни преди гроздобера за десертните и бели сортове и 45 дни за червените винени сортове.
    </p>
    <p>
        Към 10 август в лозята се извършва последното пръскане срещу маната с бордолезов разтвор – 1,5 – 2%. Срещу сивото гниене се третира с препаратите: Фундазол 50 ВП– 0,1%, Роврал 25ФЛО– 0,15%, Сумилекс 50 ВП– 0,1%. Първото третиране се провежда при омекване и прошарване на гроздето, второто третиране от 20 – 30 дни преди гроздобера.
    </p>
    <p>
        Две седмици преди гроздобера в лозята трябва да се маркират високопродуктивните и здрави лози за събиране на резници за калеми. Започва гроздобера на ранните десертни сортове.
    </p>
</div>

</body>
</html>