<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_may" th:fragment="pheno_may">
    <p>
        През месец май започва интензивната растителна защита за опазване на лозята от основните болести и неприятели – екскориоза, мана, брашнеста мана (оидиум), гроздови молци, акари, листозавивачки и др. За успешна борба срещу екскориозата най-важни са третиранията, когато леторастите са във фаза “пеперуда” и “3-ти лист”.
    </p>
    <p>
        Борбата с брашнестата мана започва при дължина на леторастите 4-7 см, като се провеждат 1-2 предцъфтежни и 2-4 следцъфтежни пръскания в зависимост от чувствителността на сорта и вида на препаратите. При маната борбата се извежда при поява на първите “мазни“ петна. Други важни мероприятия са поддържане на насажденията чисти от плевели и поддържане на оптимална почвена влага. През месеца трябва да се извършват и резитби на зелените части на лозята. С това мероприятие се регулира растежа и плододаването на лозята. Към зелените резитби спадат филизенето, прищипването и кършенето.
    </p>
    <p>
        При филизенето се отстраняват излишните леторасти, покарали от спящи пъпки и ъглови очи. Премахват се и тези, покарали от спящите очи по стъблото при стъблените формировки. Отстраняват се безплодните и слабо развитите плодни леторасти. Запазват се само тези, които ще се използват при бъдещата резитба. Операцията трябва да се извършва след пълно очертаване на ресите, когато леторастите достигнат 15-20 см и не са вдървесинели.
    </p>
    <p>
        При прищипването се отстранява се растежният връх на летораста с 1-2 недоразвити листа. Това мероприятие се прилага срещу източване на ресите в мустаци. Прилага се при приземни млади, буйни лозя и чувствителните сортове, като Плевен, Хамбургски мискет, Болгар. Прищипването се извършва след очертаване на ресите, когато на летораста са образувани 6-8 листа.
    </p>
</div>

</body>
</html>