<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_sep" th:fragment="pheno_sep">
    <p>
        Започва гроздоберът и повечето любители лозари се захващат да направят домашно вино. Ето някои цифри, които ще им бъдат полезни:
    </p>
    <h5>
        Гроздето се бере при захарност:
    </h5>
    <p>
        21-23% за червените вина
    </br>
        18-20% за белите вина
    </p>
    <p>
        Недостигът на захарност се допълва с 1кг. захар на % за 100л. мъст.
    </p>
    <h5>
        От 100кг. грозде се получава:
    </h5>
    <p>
        70-75л. мъст
    </br>
        60-70л. вино
    </p>

</div>

</body>
</html>