<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="pheno_jan" th:fragment="pheno_jan">
        <p>
            Лозата се намира в период на относителен покой, който е подходящ за торене на плододаващи насаждения. При наличие на оборски тор, е препоръчително да се внасят по 2-3 тона на декар през 2-3 години.
        </p>
        <p>
            Вниманието на лозарите през месеца е насочено главно към опазване на насажденията от много ниските зимни температури, които създават непосредствена опасност от измръзване при задържане на температурата под -20°С. За да се намали вредното въздействие на продължителните студове се правят димни купчини от слама или други отпадъци и се палят.
        </p>
        <p>
            Внасят се почвени хербициди.
        </p>
        <p>
            Ако почвата не е изорана се обработва до дълбочина, при която не се вреди на кореновата система на лозите, за да се подобри структурата и да се унищожат зимуващите в нея неприятели -<b> турски хоботник, лозов стригач, майски бръмбар</b>.
        </p>
        <p>
            Наближава времето за резитба на лозята. Теоретично, подходящото време за резитба е през целия есенно-зимен период- 15 дни след листопада до началото на напъпването. Не се реже само в дни когато температурата е под 5 градуса. На практика обаче към края на месеца се започва с резитбата на по студоустойчивите сортове. Извършва се резитба на маточниците.
        </p>
    </div>

</body>
</html>