<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_feb" th:fragment="pheno_feb">
    <p>
        При благоприятни метеорологични условия през февруари продължават грижите за лозовите насаждения, макар че през февруари се извършват сравнително малко агротехнически и растително-защитни мероприятия в лозята. Проверява се за измръзнали пъпки. В слънчевите и по-топлите дни лозарите могат да обследват на лозята, за да установят наличие на акари, които нанасят сериозни повреди по насажденията. Определя се каква е числеността на акарите и се избират начините на борба с тях – механични или химични.
    </p>
    <p>
        През февруари вредителите по лозата са в състояние на покой под кората на лозите, в основата на старите чепове и най-вече в пъпките. Затова се препоръчва почистване на старата кора по главините и рамената на лозата. Изрязват се, изнасят се и се изгарят всички заболели части, за да се унищожат зимуващите форми на антракнозата, червения овощен акар и други неприятели.
    </p>
</div>

</body>
</html>