<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_mar" th:fragment="pheno_mar">
    <p>
        Ако през топлите дни на февруари не е извършена резитбата при отделните сортове лози, до края на март трябва да приключи. Към края на месеца и началото на април се извършва резитба на асмовидно отглежданите сортове. След приключване на резитбата на лозите се изнасят и изгарят лозовите пръчки и старата изсъхнала дървесина.
    </p>
    <p>
        Отстраняват се всички счупени рамена и се залагат нови . Заложените плодни звена се привързват към носещите телове. Лозето се подготвя за обработки в междуредието и реда .Празните места се попълват с млади лозички или с подземни отводи от съседните лози.
    </p>
    <p>
        Подготвят се площите за създаване на нови лозя като се извършва подравняване на терена и маркиране на разстоянията в реда и междуредията. Извършва се ремонт на подпорната конструкция.
    </p>
    <p>
        Преди развитие на пъпките се извършва пролетна оран на дълбочина 15 см. Тори се с фосфорни и калиеви торове, ако това не е направено през есента. Торовите норми се определят след вземане на почвени проби за агрохимичен анализ. През втората половина на март започват обработките на междуредовите и вътре редови ивици, след което се внасят почвени хербициди.
    </p>
    <p>
        За производството на облагороден посадъчен материал започва се облагородяване на маса с предварително подготвени подложкови резници и съхранени калеми.
    </p>
</div>

</body>
</html>