<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_jun" th:fragment="pheno_jun">
    <p>
        За да оптимизират торовите норми при лозовите насаждения лозарите трябва да използват почвени агрохимически анализи и методите на листната диагностика.
    </p>
    <p>
        Листните проби от лозовите насаждения трябва да се вземат в периода 1-15 юли. Площта, от която се събира една средна листна проба, е 150 дка. При по-голямо лозово насаждение, то трябва да се раздели на елементарни участъци, всеки от които да е с площ от 150 дка. От всеки елементарен участък лозарите събират средна листна проба. Лозите, от които се вземат листата, да бъдат характерни по сила и развитие за даденото насаждение. Листните проби се събират в сутрин. Не трябва да се събират проби непосредствено след паднал дъжд. Една проба се формира от 30-40 листа. Взема се листът, намиращ се срещу първия грозд на плодните леторасли. Той трябва да е с характерни по големина и окраска за дадения сорт и насаждение.
    </p>
    <p>
        Листните проби от лозята се придружават със следната информация: селище, местност, кад. №, сорт, сила на растеж (слаб, нормален, силен), плододаване (слабо, нормално, прекомерно), дата на вземане, взел пробата.
    </p>
</div>

</body>
</html>