<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_nov" th:fragment="pheno_nov">
    <p>
        Прибирането на винените сортове грозде приключва през първата половина на месец ноември. През ноември в лозовите насаждения се провеждат следните мероприятия, чието своевременно и правилно извършване предопределя в голяма степен количеството и качеството на добива на грозде през следващата година.
    </p>
    <h5>
        Дълбока есенна оран.
    </h5>
    <p>
        Дълбоката есенна оран се прави веднага след приключване на гроздобера. Чрез нея се премахва уплътняването на почвата и се подобрява аерацията на корено обитаемия почвен слой. Есенната оран се извършва на дълбочина от 20-30 см., като пръста се обръща към лозите. Така се улеснява по-късно загрибането на главините, което е задължително за районите с опасност от измръзване. Тази практика трябва да завърши до 15-20 ноември, за да се изпреварят студовете. При чашовидната формировка се зариват с пръст първите 2-3 видими пъпки. Ако главините са по-високи, тогава се заравят само най-ниско разположените плодни пръчки.
    </p>
    <h5>
        Основно торене.
    </h5>
    <p>
        Едновременно с дълбоката оран или малко преди нея в лозята се извършва основно торене с минерални и органични торове. Торовете се внасят в бразди дълбоко 25-30 см., след което веднага се заорават, за да се избегне загубата на хранителни вещества. Особено ефективно е есенното внасяне на органичните и минералните фосфорни и калиеви торове.
    </p>
    <h5>
        Резитба на лозята.
    </h5>
    <p>
        През есента започва резитбата на лозята. Резитбата се извършва с добре наточени лозарски ножици, а за изрязване на по-дебелите части и старата дървесина се използват специални триончета. От правилната и навременна резитба се определя добива не само през настоящата, но и през следващата година. Необходимо е при резитбата да се отчитат биологичните особености на лозовото растение – родовитост, полярност, растежна сила. Най-родовити са средните очи и тези разположени малко над тях. В зависимост от силата на лозите, се определя натоварването на растенията. Като правило на по-силните главини се оставят по голям брой очи. При есенната резитба се оставя резерв от 10-12% плодни звена, за компенсиране на повреди от зимни студове.
    </p>
</div>

</body>
</html>