<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pheno_dec" th:fragment="pheno_dec">
    <p>
        Дълбоката обработка на почвата в лозето, ако не е извършена до края на миналия месец, трябва да завърши още в началото на декември. По-нататък времето няма да е благоприятно за такъв вид работа, а и да е благоприятно, ефектът от нея ще бъде все по-малък. На наклонени терени при оран с плуг обработката трябва да се извършва напречно на наклона. Така се ограничават ерозионните процеси, водата от есенно-зимните валежи прониква по-дълбоко, което осигурява по-добро влагозапасяване.
    </p>
    <p>
        В лозята на наклонени терени през месеца може да продължи изграждането на землени прегради, които да задържат водата от валежите. Това също е мярка за по-добро влагозапасяване на почвата с голям противоерозионен ефект.
        Трябва колкото е възможно по-рано през месеца да приключи загребването на лозята, ако по някаква причина не приключило през ноември.
    </p>
    <p>
        Риголването на площите за пролетно засаждане на нови лозя може да продължи през целия месец, стига времето да позволява. Не е късно да се риголва и през януари. Тази работа трябва да приключи два месеца преди засаждането, за да се уплътни достатъчно почвата, но не е сигурно дали през януари ще има добри дни за работа. Ето защо ще е полезно да се постараете риголването да завърши още през декември.
    </p>
    <p>
    Лозови калемиПрез месеца може да се събират резници за директно вкореняване и за приготвяне на калеми за облагородяване. За малки нужди се съхраняват заровени в леко влажен пясък до около 10 см височина от основата им, навързани на снопчета. Не разчитайте на паметта си – на всяко снопче привържете и етикет с името на сорта.
    </p>
</div>

</body>
</html>